.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.list-none {
  list-style: none;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.w-max {
  width: max-content;
}

.p-4 {
  padding: 1rem;
}

.py-4 {
  padding-block: 1rem;
}

.pt-0 {
  padding-block-start: 0;
}

.mb-24 {
  margin-block-end: 6rem;
}

.inline-block {
  display: inline-block;
}

.font-semibold {
  font-weight: 600;
}

.text-lg {
  font-size: 1.125rem;
}

.border-r {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.border-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.border-b-4 {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 4px solid;
}

.border-blue-500 {
  border-color: rgb(59, 130, 246);
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.min-w-fit {
  min-width: fit-content;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.border-between {
  & > *:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
}
